
body{
	text-align: center;
	background-color: #866887;

}

*{
	padding: 0;
	margin: 0px;
	overflow-x: hidden;
}
#game{
	width: 500px;
	height: 200px;
	border: 3px solid black;
	display: inline-block;
	margin: 80px;
	background-color: #9eb5a4;

	
}
#character{
	width: 20px;
	height: 50px;
	position: relative;
	background-color: red;
	top: 150px;
}
.animate{
	animation: jump 0.3s linear;

}
#block{

    width: 20px;
	height: 20px;
	position: relative;
	background-color: blue;
	top: 130px;
	left: 500px;
	animation: block 1s infinite linear;
}
@keyframes block{
	0%{left: 500px;}
	100%{left: -20px;}
}
@keyframes jump{
	0%{top: 150px;}
	30%{top: 100px;}
	70%{top: 100px;}
	100%{top:150px;}
}
p{
	text-align: center;

}